{% extends 'base.html' %}
{% load thumbnail %}
{% block sidebar %} {% endblock %}
{% block content %}
{% load static %}
<script src="https://js.stripe.com/v3/"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div class="checkout-container">
  <div class="row">
    {% if error %}
    <div class="sold-items-err">
      <i class="fa fa-exclamation-triangle fa-2x err-circle" aria-hidden="true"></i>
      {{error}} {% for item in sold_items %} {{item}} {% endfor %}
    </div>
    {% endif %}
    <div class="sold-items-err" id="checkout-err"></div>
    <!-- tab section header -->
    <div class="col s7" id="tabbed-checkout">
      <div class="col s12">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s3"><a href="#delivery" id="section1">Delivery Address</a></li>
          <li class="tab col s3 disabled"><a href="#shipping" id="section2">Shipping Options</a></li>
          <li class="tab col s3 disabled"><a href="#payment" id="section3" >Payment Options</a></li>
        </ul>
      </div>
      <!-- tab content, section 1 -->
      <div id="delivery" class="col s12">
        <form action="/address" method="post" id="address-form">
          {% csrf_token %}
          <input type="hidden" name="address_id" id="address_id">
          <div class="input-field col s12">
            {{address_form.addressee}}
            <label for="recip">Recipient</label>
            <span id="addressee-error" class="errors">This field is required</span>
          </div>
          <div class="input-field col s6">
            {{address_form.phone}}
            <label for="phone">Phone</label>
            <span id="phone-error" class="errors">This field is required</span>
          </div>
          <div class="input-field col s6">
            {{address_form.email}}
            <label for="email">Email</label>
            <span id="email-error" class="errors">This field is required</span>
          </div>
          <div class="input-field col s8">
            {{address_form.street}}
            <label for="street_number">Street</label>
            <span id="street-error" class="errors">This field is required</span>
          </div>
          <div class="input-field col s4">
            {{address_form.apt}}
            <label for="apt">Suite or Apt#</label>
            <span id="apt-error" class="errors"></span>
          </div>
          <div class="input-field col s6">
            {{address_form.city}}
            <label for="locality">City</label>
            <span id="city-error" class="errors">This field is required</span>
          </div>
          <div class="input-field col s6">
            {{address_form.state}}
            <label for="administrative_area_level_1">State</label>
            <span id="state-error" class="errors">This field is required</span>
          </div>
          <div class="input-field col s6">
            {{address_form.zip_code}}
            <label for="postal_code">Postal Code</label>
            <span id="zip_code-error" class="errors">This field is required</span>
          </div>
          <div class="input-field col s6">
            {{address_form.country}}
            <label for="country">Country</label>
            <span id="country-error" class="errors">This field is required</span>
          </div>
          <div id="address-error" class="errors col s12 right"></div>
          <div class="col s12 right-align loading-message" id="loading-message">
            getting shipping rates...
          </div>
          <div class="input-field col s6">
            <a href="{% url 'shop:show_cart' %}">
              <button type="button" id="back-to-cart" class="yellow accent-4 waves-effect waves-light btn left">Back to Cart</button>
            </a>
          </div>
          <div class="input-field col s6">
            <button type="submit" id="address-submit" class="yellow accent-4 waves-effect waves-light btn right"><i class="fa fa-refresh fa-spin" id="address-loading"></i> Next</button>
          </div>
        </form>
      </div>
      <!-- tab content, section 2 -->
      <div id="shipping" class="col s12">
        <form action="/shipping" method="post" id="shipping-form">
          {% csrf_token %}
          <input type="hidden" name="carrier" value="" id="carrier">
          <input type="hidden" name="service" value="" id="service">
          <p id="usps-low-wrapper" class="radio-shipping-option">
            <input name="shipping" type="radio" id="usps-low" class="usps-low shipping-radio with-gap" />
            <label for="usps-low" id="usps-low-label"></label>
            <span class="usps-low-value"></span>
          </p>
          <p id="usps-high-wrapper" class="radio-shipping-option">
            <input name="shipping" type="radio" id="usps-high" class="usps-high shipping-radio with-gap" />
            <label for="usps-high" id="usps-high-label"></label> <span class="usps-high-value"></span>
          </p>
          <p id="fedex-low-wrapper" class="radio-shipping-option">
            <input name="shipping" type="radio" id="fedex-low" class="fedex-low shipping-radio with-gap" />
            <label for="fedex-low" id="fedex-low-label"></label>
            <span class="fedex-low-value"></span>
          </p>
          <p id="fedex-high-wrapper" class="radio-shipping-option">
            <input name="shipping" type="radio" id="fedex-high" class="fedex-high shipping-radio with-gap" />
            <label for="fedex-high" id="fedex-high-label"></label> <span class="fedex-high-value"></span>
          </p>
          <div class="col s12 right-align loading-message" id="shipping-error">
            Please choose a shipping option.
          </div>
          <div class="input-field col s6">
              <button type="button" id="back-to-address" class="yellow accent-4 waves-effect waves-light btn left">Back to Address</button>
          </div>
          <div class="input-field col s6">
            <button type="submit" id="shipping-submit" class="yellow accent-4 waves-effect waves-light btn right">Next</button>
          </div> 
        </form>
      </div>
      <!-- tab content, section 3 -->
      <div id="payment" class="col s12">
        <button type="button" class="grey darken-3 waves-effect waves-light btn cc-btn"><i class="fa fa-credit-card" aria-hidden="true"></i> Credit Card</button>
        <div id="paypal-button"></div>
        <div class="card-options">
          <h5 class="center-align">Card Details</h5>
          <div class="divider"></div>
          <form action="/charge" method="post" id="payment-form">
             {% csrf_token %}
            <p>
              <div id="card-element" class="input-field"></div>
            </p>
            <div id="card-errors" role="alert">
              <!-- Used to display Element errors -->
            </div>
            <p>
              <input type="checkbox" id="same-address" name="same_address" checked/>
              <label for="same-address" class="same-address">My billing address is the same as my delivery address</label>
            </p>
            <!-- insert fields for billing address -->
            <div id="billing-fields">
              <div class="input-field col s12">
                {{billing_form.name}}
                <label for="billing-name">Name on Card</label>
                <span id="billing-name-error" class="errors">This field is required</span>
              </div>
              <div class="input-field col s8">
                {{billing_form.address_line1}}
                <label for="billing-street">Street</label>
                <span id="billing-street-error" class="errors">This field is required</span>
              </div>
              <div class="input-field col s4">
                {{billing_form.address_line2}}
                <label for="billing-apt">Suite or Apt#</label>
                <span id="billing-apt-error" class="errors"></span>
              </div>
              <div class="input-field col s6">
                {{billing_form.address_city}}
                <label for="billing-city">City</label>
                <span id="billing-city-error" class="errors">This field is required</span>
              </div>
              <div class="input-field col s6">
                {{billing_form.address_state}}
                <label for="billing-state">State</label>
                <span id="billing-state-error" class="errors">This field is required</span>
              </div>
              <div class="input-field col s6">
                {{billing_form.address_zip}}
                <label for="billing-zip">Postal Code</label>
                <span id="billing-zip_code-error" class="errors">This field is required</span>
              </div>
              <div class="input-field col s6">
                {{billing_form.address_country}}
                <label for="billing-country">Country</label>
                <span id="billing-country-error" class="errors">This field is required</span>
              </div>
            </div>
            <div class="input-field col s12">
              <button type="submit" class="yellow accent-4 waves-effect waves-light btn">Complete My Purchase</button>
            </div>
          </form>
        </div>
        <div class="col s12">
          <button type="button" id="back-to-shipping" class="yellow accent-4 waves-effect waves-light btn col s12">Back to Shipping</button>
        </div>
      </div>
    </div>
    <div class="col s4 offset-s1">
      <div class="card-panel checkout-total">
        <div class="row">
          <h5 class="center-align">Your Order:</h5>
        </div>
        {% for item in items %}
        <div class="row item-row">
          <p class="col s10">{{item}}</p>
          <p class="col s2">${{item.price}}</p>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
      </div>
      <h5 class="right-align">
        <p class="col s8 left-align">Your order sub-total: </p><p class="col s4 right-align" id="order-amount">$<span id="order-subtotal" data-cost="{{total_cost}}">{{total}}</span></p>
      </h5>
    </div>
  </div>

<script>
  var cost = "{{total|escapejs}}"
</script>
<!-- stripe payments + custom payment-related JS -->
<script src="{% static 'js/payments.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1sdfD_NFnRSrPHgqU5gHQERFWcsKfVr4&libraries=places&callback=initAutocomplete" async
defer></script>
<script type="text/javascript" src="{% static 'js/places.js' %}"></script>
{% comment %} <script type="text/javascript" src="{% static 'js/billingplaces.js' %}"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'js/paypal.js' %}"></script>

{% endblock %}
