{% extends 'base.html' %}
{% load shop_extras %}
{% load thumbnail %}
{% block sidebar %}
{% include 'shop/sidebar.html' %}
{% endblock %}
  {% block content %}
    <div class="wrapper">
      <h3 class="ui center aligned header headline">News</h3>
      {% for bulletin in bulletins %}
      <div class="row">
        <div class="col s12 m12">
          <div class="card-panel white">
            <h3 class="grey lighten-3 bulletin-head">{{bulletin.headline}}</h3>
            <div class="bulletin-body">
               {{bulletin.text|replace_url|safe|truncatechars_html:150}}
              {% if bulletin.text|is_trunc %}
              <button type="button" class="btn waves-effect waves-gray btn-flat modal-trigger" id="{{bulletin.id}}">read more</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for each bulletin -->
      <div id="modal{{bulletin.id}}" class="modal">
        <div class="modal-content">
          <h5 class="modal-head grey lighten-3">
            {{bulletin.headline}}
            <i class="fa fa-window-close-o closer" aria-hidden="true"></i>
          </h5>
          <div class="modal-body">
            {{bulletin.text|safe}}
          </div>
          
        </div>
      </div>
      {% endfor %}
      <a href="{% url 'shop:news' %}"><button class="waves-effect waves-light yellow accent-4 btn news-btn">see all news</button></a>
      <div class="divider"></div>
      <h3 class="ui center aligned header headline">Recently Added {{products.count}}</h3>
      <div class="row" id="main">
       {% for item in products %}
      <div class="col s3 magic">
        <a href="{% url 'shop:show_product' item.id %}">
          <div class="card hoverable">
            <div class="card-image">
              {% thumbnail item.image.all.0.image 'x250' as im %}
              <img src="{{im.url}}" alt="image for {{item}}" class="product-thumbs"> {% endthumbnail %}
            </div>
            <div class="card-content">
              <p class="truncate">{{item}}</p>
              <p>${{item.price}}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
      </div>
      {% if products.has_next %}
      <a href="{% url 'shop:filter' %}?filter=recent&value=30&page=2">
        <button type="button" class="waves-effect waves-light yellow accent-4 btn news-btn">See more recently added products</button>
        </a>
      {% endif %}
    </div>
  {% endblock %}
