<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome! Under Construction!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/penguin.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />
</head>
<body class="temp-body">
    <div class="center">
        <p class="welcome">{{vacation_settings.headline}} </p>
        <p class="info">{{vacation_settings.message}}</p>
        <p class="info">Expect a {{delay_weeks}} week delay in addition to estimated shipping times.</p>
        <p>In the meantime, enjoy browsing, or place an order.</p>
        <a href="{% url 'shop:main' %}">
            <button type="button" class="btn waves-effect waves-light yellow accent-4 grey-text text-darken-3">Take me to The Penguin</button>
        </a>
    </div>
</body>
</html>