<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome! Under Construction!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/penguin.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />
</head>
<body class="temp-body">
    <div>
        <p class="welcome">Hi there! Looking for the Penguin Pen? </p>
        <p class="info">You found us, but we're currently in the process of rolling out the new site. Here's what you have to look forward to:</p>
        <ul class="browser-default">
            <li>Checkout! Now you can choose your pen and buy in real time!</li>
            <li>Same great content! We have a brand new blog, and plenty of informational articles.</li>
            <li>Better navigation! You'll see...</li>
            <li>Don't worry! If you love talking to Rick and communicating directly for a more personal experience, you still can. Drop him a note: <a href="mailto:rickpropas@comcast.net">rickpropas@comcast.net</a></li>
        </ul>
        <p>Well, that's about all, we hope to see you tomorrow when the new site is up, and in the meantime, you can find the old site <a href="http://oldpenguin.thepenguinpen.com">here.</a> Cheers!</p>
    </div>
</body>
</html>