{% extends 'base.html' %} 
{% block sidebar %} 
{% include 'blog/sidebar.html' %} 
{% endblock %} 
{% block content %} 
{% load tz %}
<div class="wrapper" id="blog" data-id="{{post.id}}">
    {% if not post %}
        <h5 class="center headline">There are no blog posts currently, check back soon!</h5>
    {% endif %} 
    {% if post %}
        <h4 class="ui center aligned header headline">{{post}}</h4>
        <p class="date-stamp grey-text text-lighten-1 center-align">Last Updated: {{post.updated_at|date:"F j, Y"}} at {{post.updated_at|time:"g:i a"}}</p>
        {{post.text|safe}}
    {% endif %} 
</div>
{% endblock %}