<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>The Penguin</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../static/materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="icon" type="image/png" href="../static/imgs/penguin-favicon.png" />
    <link rel="stylesheet" href="../static/css/penguin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-3">
                <div class="row">
                    <div class="col s3">
                        <a class="penguin_logo" href="http://www.thepenguinpen.com">the &nbsp;<span class="yellow-text text-accent-4">pen</span>guin</a>
                    </div>
                    <div class="col s5">
                    </div>
                    <div class="col s4">
                        <ul id="nav-mobile" class="right nav-list">
                            <li class="shop"><a href="http://www.thepenguinpen.com">Shop</a></li>
                            <li class="learn"><a href="http://www.thepenguinpen.com/learn">Learn</a></li>
                            <li class="blog"><a href="http://www.thepenguinpen.com/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="main center-align">
        <h1 class="mega">4<i class="err-404 far fa-sad-cry"></i>4</h1>
        
        <p class="small-text">That means we can't find what you're looking for. But it's ok, you probably have some bookmarks for our old site.</p>
        <a href="http://www.thepenguinpen.com"><button class="btn yellow accent-4 grey-text text-darken-3">Welcome to our new one.</button></a>
    </div>
</body>

</html>